@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* global style start */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    color: #3A3A3A;
    margin: 0;
}

/* banner section start */
.banner {
    margin: 50px auto 130px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    /* justify-content: space-between; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 1200px;
    background: #161616;
    border-radius: 30px;
}

.banner_text {
    width: 480px;
    margin: 0 24px 111px 106px;
}

.banner_text h2 {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.banner_text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0 0 30px 0;
}

.banner_text a {
    text-decoration: none;
    padding: 12px 27px;
    /* height: ; */

    /* left: 246px; */
    /* top: 529px; */

    background: #DD0000;
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

.banner_text a {}

.banner_image {
    width: 530px;
    margin: 33px 106px 0 0;
}

.banner_image img {
    width: 100%;
}

/* banner section end */

/* blog section start */
.blogs {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    width: 1200px;
}

.left_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;

    width: 312px;
    height: 312px;
    /* left: 140px; */
    /* top: 826px; */

    background: #161616;
    border-radius: 10px;
}

.left_button a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 252px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #161616;
}

.right_blogs {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.single_blog {
    display: flex;
    flex-direction: column;
}

.single_blog img {
    width: 100%;
}

.blog_details {
    padding: 20px;
}

.blog_details h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
}

.clock_chat {
    display: flex;
    justify-content: space-between;
    width: 143px;
}

.single_blog a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 32px;
    /* left: 832px; */
    /* top: 1407px; */
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #161616;
    color: #161616;
    border-radius: 5px;
}

/* blog section end */